<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/modelo :: modelo">
<head>

<meta charset="utf-8">
<title>EasyGym - Academia</title>
</head>
<body>

	<div th:fragment="conteudo">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center my-3">
					<h1 class="display-4">Editar Planos</h1>
				</div>
				
			</div>
			<div class="row justify-content-center mb-5">
				<div class="col-sm-12 col-md-5 col-lg-8">
				<div class="jumbotron">
					<form action="/editar-plano" method="post" th:object="${plano}">
						<div class="form-row">
							<div class="form-group col-sm-6">
								<input type="hidden" class="form-control" th:field="*{cod_plano}">
								<label for="inputPlano">Plano:</label>
								<input type="text" class="form-control" th:field="*{nome_plano}" value="Plano">
							</div>
							
						  <div class="form-group col-sm-4">
		                  <label for="inputInstrutor">Horário:</label>
		                  <select class="form-control" id="cod_horario" name="cod_horario">
		                    <option 
		                        th:each="hora : ${listaDeHorarios}" 
		                        th:text="${hora.faixa_horario}"
		                        th:value="${hora.cod_horario}"
		                        th:selected="  *{cod_horario} == ${hora.cod_horario}">João</option>
		                  </select>
		                </div>
							
							<div class="form-group col-sm-6">
								<label for="inputValor">Valor:</label>
								<input type="text" class="form-control" th:field="*{valor_mensal}" value="0,00">
							</div>						
						</div>
						
					
						<div class="form-row">
							<button type="submit" class="btn btn-success">Editar</button>
						</div>
					</form>
					</div>
				
				</div>
			</div>		
		</div>
	</div>

</body>
</html>