<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/modelo :: modelo">
<head>

<meta charset="utf-8">
<title>EasyGym - Academia</title>
</head>
<body>

	<div th:fragment="conteudo">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center my-3">
					<h1 class="display-4">Editar Funcionário</h1>
				</div>
				
			</div>
			<div class="row justify-content-center mb-5">
				<div class="col-sm-12 col-md-10 col-lg-8">
				<div class="jumbotron">
					<form>
						<div class="form-row">
							<div class="form-group col-sm-6">
								<label for="inputNome">Nome:</label>
								<input type="text" class="form-control" id="inputNome" value="Luana Martins da Silva">
							</div>
							
							<div class="form-group col-sm-6">
								<label for="inputCpf">CPF:</label>
								<input type="text" class="form-control" id="inputCpf" value="989.777.123.00">
							</div>						
						</div>
						<div class="form-row">
							<div class="form-group col-sm-4">
								<label for="inputEmail">E-mail:</label>
								<input type="text" class="form-control" id="inputEmail" value="luanam@site.com.br">
							</div>
							
							<div class="form-group col-sm-4">
								<label for="inputTelefone">Telefone:</label>
								<input type="text" class="form-control" id="inputTelefone" value="(34)98989-9999">
							</div>
							<div class="form-group col-sm-4">
								<label for="inputCep">CEP:</label>
								<input type="text" class="form-control" id="inputCep" value="38000-222">
							</div>						
						</div>
						<div class="form-row">
							<div class="form-group col-sm-12">
								<label for="inputEnd">Endereço:</label>
								<input type="text" class="form-control" id="inputEnd" value="Rua Saturno, 489">
							</div>
												
						</div>
						<div class="form-row">
							<div class="form-group col-sm-6">
								<label for="inputCidade">Cidade:</label>
								<input type="text" class="form-control" id="inputCidade" value="Uberlândia">
							</div>
							
							<div class="form-group col-sm-6">
								<label for="inputEstado">Estado:</label>
								<select class="form-control" id="inputEstado">
									<option>Selecione um estado</option>
									<option selected>MG</option>
									<option>...</option>
									<option>...</option>
									<option>...</option>
								</select>
							</div>					
						</div>
						<div class="form-row">
							<div class="form-group col-sm-4">
								<label for="inputFuncao">Função:</label>
								<select class="form-control" id="inputFuncao">
									<option>Selecione uma função</option>
									<option selected>Instrutor</option>
									<option>Recepcionista</option>
									<option>Gerente</option>
								</select>
							</div>
							
							<div class="form-group col-sm-4">
								<label for="inputHorario">Horário:</label>
								<input type="text" class="form-control" id="inputHorario" value="06:00 às 14:00">

							</div>
							<div class="form-group col-sm-4">
								<label for="inputDias">Dias:</label>
								<input type="text" class="form-control" id="inputDias" value="Seg a Sex">

							</div>						
						</div>
					
						<div class="form-row">
							<button type="submit" class="btn btn-success">Editar</button>
						</div>
					</form>
					</div>
				
				</div>
			</div>		
		</div>
	</div>

</body>
</html>