<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/modelo :: modelo">
<head>

<meta charset="utf-8">
<title>EasyGym - Academia</title>
</head>
<body>

	<div th:fragment="conteudo">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center my-3">
					<h1 class="display-4">Editar Funcionário</h1>
				</div>
				
			</div>
			<div class="row justify-content-center mb-5">
				<div class="col-sm-12 col-md-10 col-lg-8">
				<div class="jumbotron">
					<form action="/editar-funcionario" method="post" th:object="${func}">
						<div class="form-row">
							<div class="form-group col-sm-6">
								<input type="hidden" class="form-control" th:field="*{cod_func}" >
								<label for="inputNome">Nome:</label>
								<input type="text" class="form-control" th:field="*{nome_func}" value="Nome">
							</div>
							
							<div class="form-group col-sm-6">
								<label for="inputCpf">CPF:</label>
								<input type="text" class="form-control" th:field="*{cpf_func}" value="Cpf" onkeypress="$(this).mask('000.000.000-00');">
							</div>						
						</div>
						<div class="form-row">
							<div class="form-group col-sm-4">
								<label for="inputEmail">E-mail:</label>
								<input type="text" class="form-control" th:field="*{email_func}" value="email">
							</div>
							
							<div class="form-group col-sm-4">
								<label for="inputTelefone">Telefone:</label>
								<input type="text" class="form-control" th:field="*{telefone_func}" value="telefone" onkeypress="$(this).mask('(00) 00000-0009')">
							</div>
							<div class="form-group col-sm-4">
								<label for="inputCep">CEP:</label>
								<input type="text" class="form-control" th:field="*{cep_func}" value="cep" onkeypress="$(this).mask('00.000-000')">
							</div>						
						</div>
						<div class="form-row">
							<div class="form-group col-sm-12">
								<label for="inputEnd">Endereço:</label>
								<input type="text" class="form-control" th:field="*{end_func}" value="Endereço">
							</div>
												
						</div>
						<div class="form-row">
							<div class="form-group col-sm-6">
								<label for="inputCidade">Cidade:</label>
								<input type="text" class="form-control" th:field="*{cidade_func}" value="Cidade">
							</div>
							
							<div class="form-group col-sm-6">
								<label for="inputEstado">Estado:</label>
								<select class="form-control" id="cod_estado" name="cod_estado">
			                    	<option 
			                        th:each="estados : ${listaDeEstados}" 
			                        th:text="${estados.sigla}"
			                        th:value="${estados.cod_estado}"
			                        th:selected="  *{cod_estado} == ${estados.cod_estado}">Estado</option>
		                  		</select>
							</div>					
						</div>
						<div class="form-row">
							<div class="form-group col-sm-6">
								<label for="inputFuncao">Função:</label>
								<select class="form-control" id="cod_cargo" name="cod_cargo">
			                    	<option 
			                        th:each="cargo : ${listaDeCargos}" 
			                        th:text="${cargo.funcao} "
			                        th:value="${cargo.cod_cargo}"
			                        th:selected="  *{cod_cargo} == ${cargo.cod_cargo}">Cargo</option>
		                  		</select>
							</div>
							
							<div class="form-group col-sm-6">
								<label for="inputHorario">Carga Horária:</label>
								<select class="form-control" id="cod_carga_hor" name="cod_carga_hor">
			                    	<option 
			                        th:each="carga : ${listaDeCargaHoraria}" 
			                        th:text="${carga.carga_horaria}"
			                        th:value="${carga.cod_carga_hor}"
			                        th:selected="  *{cod_carga_hor} == ${carga.cod_carga_hor}">Carga Horária</option>
		                  		</select>
							</div>
							
							<div class="form-group col-sm-6">
								<label for="inputDias">Dias de Trabalho:</label>
								<select class="form-control" id="cod_dias_trab" name="cod_dias_trab">
			                    	<option 
			                        th:each="dias : ${listaDeDiasTrab}" 
			                        th:text="${dias.dias_trab}"
			                        th:value="${dias.cod_dias_trab}"
			                        th:selected="  *{cod_dias_trab} == ${dias.cod_dias_trab}">Dias de trabalho</option>
		                  		</select>

							</div>
							
							<div class="form-group col-sm-6">
								<label for="inputSalario">Salário:</label>
								<input type="text" class="form-control" th:field="*{salario}" placeholder="Salário">
							</div>						
						
						</div>
						<div class="form-row">
							<button type="submit" class="btn btn-success">Editar</button>
						</div>
					</form>
					</div>
				
				</div>
			</div>		
		</div>
	</div>

</body>
</html>