<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/modelo :: modelo">
<head>

<meta charset="utf-8">
<title>EasyGym - Academia</title>
</head>
<body>

	<div th:fragment="conteudo">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center my-3">
					<h1 class="display-4">Gerenciamento de Planos</h1>
				</div>
				
			</div>
			<div id="list" class="row">
 
		    <div class="table-responsive col-md-12">
		        <table class="table table-striped" cellspacing="0" cellpadding="0">
		            <thead>
		                <tr>
		                    <th class="text-center">ID</th>
		                    <th class="text-center">PLANO</th>
		                    <th class="text-center">FAIXA HORÁRIA</th>
		                    <th class="text-center">VALOR</th>
		                    <th class="actions text-center">Ações</th>
		                 </tr>
		            </thead>
		            <tbody>
		 
		                <tr th:each="plano:${lista}" th:object="${plano}">
		                    <td th:text="*{cod_plano}">Cod</td>
		                    <td th:text="*{nome_plano}" class="text-center">Nome</td>
		                    <td th:text="*{horario.faixa_horario}" class="text-center">Horário</td>
		                    <td th:text="*{valor_mensal}" class="text-center">Valor</td>
		                    
		                    <td class="actions text-center">
		                        <a class="btn btn-success btn-xs" th:href="@{/vis-plano(cod_plano=${plano.cod_plano})}">Visualizar</a>
		                        <a class="btn btn-secondary btn-xs" th:href="@{/edit-plano(cod_plano=${plano.cod_plano})}">Editar</a>
		                        <a class="btn btn-dark btn-xs" th:href="@{/excluir-plano(cod_plano=${plano.cod_plano})}">Excluir</a>
		                    </td>
		                </tr>
		 
		            </tbody>
		         </table>
		 
		     </div>
		 </div>
		</div>
	</div>

</body>
</html>