<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/modelo :: modelo">
<head>

<meta charset="utf-8">
<title>EasyGym - Academia</title>
</head>
<body>

	<div th:fragment="conteudo">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center my-3">
					<h1 class="display-4">Gerenciamento de Horários</h1>
				</div>
				
			</div>
			<div id="list" class="row">
 
		    <div class="table-responsive col-md-12">
		        <table class="table table-striped" cellspacing="0" cellpadding="0">
		            <thead>
		                <tr>
		                    <th>ID</th>
		                    <th class="text-center">HORÁRIO</th>
		                    <th class="text-center">FAIXA HORÁRIA</th>
		                    <th class="actions text-center">Ações</th>
		                 </tr>
		            </thead>
		            <tbody>
		 
		               <tr th:each="horario:${lista}" th:object="${horario}">
		                    <td th:text="*{cod_horario}">Cod</td>
		                    <td th:text="*{horario}" class="text-center">Horário</td>
		                    <td th:text="*{faixa_horario}" class="text-center">Faixa Horária</td>
		                    <td class="actions text-center">
		                        <a class="btn btn-success btn-xs" th:href="@{/vis-horario(cod_horario=${horario.cod_horario})}">Visualizar</a>
		                        <a class="btn btn-secondary btn-xs" th:href="@{/edit-horario(cod_horario=${horario.cod_horario})}">Editar</a>
		                        <a class="btn btn-dark btn-xs" th:href="@{/excluir(cod_horario=${horario.cod_horario})}">Excluir</a>
		                    </td>
		                </tr>
		            </tbody>
		         </table>
		 
		     </div>
		 </div>
		</div>
	</div>

</body>
</html>