<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/modelo :: modelo">
<head>

<meta charset="utf-8">
<title>EasyGym - Academia</title>
</head>
<body>

	<div th:fragment="conteudo">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center my-3">
					<h1 class="display-4">Gerenciamento de Funcionários</h1>
				</div>
				
			</div>
			<div id="list" class="row">
 
		    <div class="table-responsive col-md-12">
		        <table class="table table-striped" cellspacing="0" cellpadding="0">
		            <thead>
		                <tr>
		                    <th>ID</th>
		                    <th>NOME</th>
		                    <th class="text-center">FUNÇÃO</th>
		                    <th class="text-center">CARGA HORÁRIA</th>
		                    <th class="text-center">DIAS</th>
		                    <th class="actions text-center">Ações</th>
		                 </tr>
		            </thead>
		            <tbody>
		 
		                <tr th:each="funcionario:${lista}" th:object="${funcionario}">
		                    <td th:text="*{cod_func}" >Cod</td>
		                    <td th:text="*{nome_func}" >Nome</td>
		                    <td th:text="*{funcao}" class="text-center">Instrutor</td>
		                    <td th:text="*{carga_horaria}" class="text-center">Carga horária</td>
		                    <td th:text="*{dias_trab}" class="text-center">Dias de serviço</td>
		                    <td class="actions text-center">
		                        <a class="btn btn-success btn-xs" th:href="@{/vis-funcionario(cod_func=${funcionario.cod_func})}">Visualizar</a>
		                        <a class="btn btn-secondary btn-xs" th:href="@{/edit-funcionario(cod_func=${funcionario.cod_func})}">Editar</a>
		                        <a class="btn btn-dark btn-xs" th:href="@{/excluir-funcionario(cod_func=${funcionario.cod_func})}">Excluir</a>
		                    </td>
		                </tr>
		 				
		            </tbody>
		         </table>
		 
		     </div>
		 </div>
		</div>
	</div>

</body>
</html>