<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/modelo :: modelo">
<head>

<meta charset="utf-8">
<title>EasyGym - Academia</title>
</head>
<body>

	<div th:fragment="conteudo">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center my-3">
					<h1 class="display-4">Gerenciamento de Clientes</h1>
				</div>
				
			</div>
			<div id="list" class="row">
 
		    <div class="table-responsive col-md-12">
		        <table class="table table-striped" cellspacing="0" cellpadding="0">
		            <thead>
		                <tr>
		                    <th>ID</th>
		                    <th>NOME</th>
		                    <th>PLANO</th>
		                    <th>HORÁRIO</th>
		                    <th>VALOR</th>
		                    <th>INSTRUTOR</th>
		                    <th class="actions text-center">Ações</th>
		                 </tr>
		            </thead>
		            <tbody>
		 
		                <tr th:each="cliente:${lista}" th:object="${cliente}">
		                    <td th:text="*{cod_cli}">Cod</td>
		                    <td th:text="*{nome_cli}">Nome</td>
		                    <td th:text="*{plano_c.nome_plano}">Plano</td>
		                    <td th:text="*{plano_c.horario.faixa_horario}">Horario</td>
		                    <td th:text="*{plano_c.valor_mensal}">Valor</td>
		                    <td th:text="*{funcionario.nome_func}">Instrutor</td>
		                    <td class="actions text-center">
		                        <a class="btn btn-success btn-xs" th:href="@{/vis-cliente(cod_cli=${cliente.cod_cli})}">Visualizar</a>
		                        <a class="btn btn-secondary btn-xs" th:href="@{/edit-cliente(cod_cli=${cliente.cod_cli})}">Editar</a>
		                        <a class="btn btn-dark btn-xs" th:href="@{/excluir-cliente(cod_cli=${cliente.cod_cli})}">Excluir</a>
		                    </td>
		                </tr>
		                
		 
		            </tbody>
		         </table>
		 
		     </div>
		 </div>
		</div>
	</div>

</body>
</html>