<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/modelo :: modelo">
<head>

<meta charset="utf-8">
<title>EasyGym - Academia</title>
</head>
<body>

	<div th:fragment="conteudo">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center my-3">
					<h1 class="display-4">Cadastro de Horários</h1>
				</div>
				
			</div>
			<div class="row justify-content-center mb-5">
				<div class="col-sm-12 col-md-5 col-lg-8">
				<div class="jumbotron">
						<form action="/cad-horario" method="post" th:object="${horario}">

						<div class="form-row">
							<div class="form-group col-sm-6">
								<label for="inputHorario">Horário:</label>
								<input type="text" class="form-control" th:field="*{horario}" placeholder="Digite o nome para o horário">
							</div>
							
							<div class="form-group col-sm-6">
								<label for="inputFaixa">Faixa horária:</label>
								<input type="text" class="form-control" th:field="*{faixa_horario}" placeholder="00:00 às 00:00">
							</div>						
						</div>
						
					
						<div class="form-row">
							<button type="submit" class="btn btn-success">Salvar</button>
						</div>
					</form>
					</div>
				
				</div>
			</div>		
		</div>
	</div>

</body>
</html>