<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/modelo :: modelo">
<head>

<meta charset="utf-8">
<title>EasyGym - Academia</title>
</head>
<body>

	<div th:fragment="conteudo">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center my-3">
					<h1 class="display-4">Dados do Cliente</h1>
				</div>
				
			</div>
			<div class="row justify-content-center mb-5">
				<div class="col-sm-12 col-md-10 col-lg-8">
				<div class="jumbotron">
				<form action="" method="" th:object="${cliente}">
						<div class="row">					
							<div class="col-sm-6">
								<p><strong>Nome:</strong></p>
								<p th:text="*{nome_cli}">Nome</p>
							</div>
							
							<div class="col-sm-6">
								<p><strong>CPF:</strong></p>
								<p th:text="*{cpf_cli}">CPF</p>
							</div>						
						</div>
						<div class="row">
							<div class="col-sm-4">
								<p><strong>E-mail:</strong></p>
								<p th:text="*{email_cli}">email</p>
							</div>
							
							<div class="col-sm-4">
								<p><strong>Telefone:</strong></p>
								<p th:text="*{telefone_cli}">telefone</p>
							</div>
							<div class="col-sm-4">
								<p><strong>CEP:</strong></p>
								<p th:text="*{cep_cli}">cep</p>
							</div>						
						</div>
						<div class="row">
							<div class="col-sm-12">
								<p><strong>Endereço:</strong></p>
								<p th:text="*{end_cli}">endereço</p>
							</div>
												
						</div>
						<div class="row">
							<div class="col-sm-6">
								<p><strong>Cidade:</strong></p>
								<p th:text="*{cidade_cli}">cidade</p>
							</div>
							
							<div class="col-sm-6">
								<p><strong>Estado:</strong></p>
								<p th:text="*{estado.sigla}"></p>
							</div>					
						</div>
						<div class="row">
							<div class="col-sm-4">
								<p><strong>Plano:</strong></p>
								<p th:text="*{plano_c.nome_plano} +' | '+ *{plano_c.horario.faixa_horario}"></p>
							</div>
							<div class="col-sm-4">
								<p><strong>Instrutor:</strong></p>
								<p th:text="*{funcionario.nome_func}">Maria</p>
							</div>	
							<div class="col-sm-4">
								<p><strong>Valor:</strong></p>
								<p th:text="*{plano_c.valor_mensal}"></p>
							</div>					
						</div>
					</form>
						<div class="row">
							<a class="btn btn-secondary btn-xs" th:href="@{/edit-cliente(cod_cli=${cliente.cod_cli})}">Editar</a>
  							<a href="/ger-clientes" class="btn btn-dark">Voltar</a>
						</div>
					</div>
				
				</div>
			</div>		
		</div>
	</div>

</body>
</html>