<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/modelo :: modelo">
<head>

<meta charset="utf-8">
<title>EasyGym - Academia</title>
</head>
<body>

	<div th:fragment="conteudo">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center my-3">
					<h1 class="display-4">Dados do Cliente</h1>
				</div>
				
			</div>
			<div class="row justify-content-center mb-5">
				<div class="col-sm-12 col-md-10 col-lg-8">
				<div class="jumbotron">
						<div class="row">
							<div class="col-sm-6">
								<p><strong>Nome:</strong></p>
								<p>Alex Sandro Moreira</p>
							</div>
							
							<div class="col-sm-6">
								<p><strong>CPF:</strong></p>
								<p>088.321.626-44</p>
							</div>						
						</div>
						<div class="row">
							<div class="col-sm-4">
								<p><strong>E-mail:</strong></p>
								<p>alexmoreiraptc@gmail.com</p>
							</div>
							
							<div class="col-sm-4">
								<p><strong>Telefone:</strong></p>
								<p>(34)99999-9999</p>
							</div>
							<div class="col-sm-4">
								<p><strong>CEP:</strong></p>
								<p>38408-184</p>
							</div>						
						</div>
						<div class="row">
							<div class="col-sm-12">
								<p><strong>Endereço:</strong></p>
								<p>Avenida João Naves de Ávila, 1</p>
							</div>
												
						</div>
						<div class="row">
							<div class="col-sm-6">
								<p><strong>Cidade:</strong></p>
								<p>Uberlândia</p>
							</div>
							
							<div class="col-sm-6">
								<p><strong>Estado:</strong></p>
								<p>MG</p>
							</div>					
						</div>
						<div class="row">
							<div class="col-sm-4">
								<p><strong>Plano:</strong></p>
								<p>Semestral</p>
							</div>
							
							<div class="col-sm-4">
								<p><strong>Horário:</strong></p>
								<p>Livre</p>
							</div>
							<div class="col-sm-4">
								<p><strong>Instrutor:</strong></p>
								<p>Maria</p>
							</div>						
						</div>
					
						<div class="row">
							<a href="/edit-cliente" class="btn btn-success mr-2">Editar</a>
  							<a href="/ger-clientes" class="btn btn-dark">Voltar</a>
						</div>
					</form>
					</div>
				
				</div>
			</div>		
		</div>
	</div>

</body>
</html>